/Models/vicuna-7b-v1.5/model/
/Models/vicuna-13b-v1.5/

/wandb/
/SavedModels/

/__pycache__
__pycache__/data_loading.cpython-311.pyc
/__pycache__
/Models
/Eval_Results
/Data_Loading/__pycache__

# macOS system files
.DS_Store
docs/.DS_Store
docs/Images/.DS_Store



